/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: white;
    position: sticky;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color:black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
  }

  h3{
    font-size: 45px;
    text-align: center;
    vertical-align: middle;
    display: inline;
    font-style: italic;
    color: rgb(4, 51, 4);
  }
  
  h4{
    font-size: 25px;
    text-align: left;
    vertical-align: middle;
    color: rgb(4, 51, 4);
    font-style: italic;
  }

  h5{
    color: rgb(4, 51, 4);
    font-style: italic;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    background: white;
    display: block;
    position: right;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: lightgray;
    color: white;
  }

  .img {
    height: 200px;
    width: 200px;
  }

  .footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(4, 51, 4);
    color: white;
    text-align: center;
    font-size: 15px;
 }

 .cardbody {
   left: 30px;
 }